<div class="ContentSideSections">
    <p-growl [value]="msgs" life=3000></p-growl>
    <p-confirmDialog icon="fa fa-question-circle" width="425" #cd>
        <footer>
            <button type="button" pButton class="no" icon="fa fa-close" label="No" (click)="cd.reject()"></button>
            <button type="button" pButton class="yes" icon="fa fa-check" label="Si" (click)="cd.accept()"></button>
        </footer>
    </p-confirmDialog>
</div>
<div class="ContentSideSections Implementation">
    <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="float:right;margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" style="float:right; color: white; max-width: 300px" placeholder="Buscar" (keyup)="search(gb.value)">
    </div>
    <p-dataTable [value]="store.items | async" [globalFilter]="gb" selectionMode="single"
                 (onRowSelect)="onRowSelect($event)" [responsive]="true">
        <header><h2>Aulas</h2></header>
        <p-column field="nombre" header="Nombre" sortable="custom" (sortFunction)="sort($event)"></p-column>
        <p-column field="capacidad" header="Capacidad" sortable="custom" (sortFunction)="sort($event)"></p-column>
        <p-column field="edificio.nombre" header="Edificio" sortable="custom" (sortFunction)="sort($event)"></p-column>
        <p-column field="edificio.localidad.nombre" header="Localidad" sortable="custom" (sortFunction)="sort($event)"></p-column>
        <footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()"
                        label="Agregar"></button>
            </div>
        </footer>
    </p-dataTable>
    <p-paginator
            styleClass="ui-paginator-bottom"
            rows="10"
            totalRecords="{{store.service.totalRows | async}}"
            [rowsPerPageOptions]="[5,10,20]"
            (onPageChange)="pageChange($event)">
    </p-paginator>
    <p-dialog header="Aulas" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="entity">
            <div class="ui-grid-row">
                <p-messages [value]="validaciones"></p-messages>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="nombre">Nombre*</label></div>
                <div class="ui-grid-col-8"><input pInputText id="nombre" [(ngModel)]="entity.nombre"/></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="capacidad">Capacidad*</label></div>
                <div class="ui-grid-col-8"><input pInputText type="number" id="capacidad" [(ngModel)]="entity.capacidad"/></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="edificio">Edificio*</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown  class="ui-grid-col-12" id="edificio" [options]="edificios"
                                [(ngModel)]="entity.edificio" [filter]="true" [style]="{width : '100%' }">
                    </p-dropdown>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="guardar" pButton icon="fa-check" (click)="save()" label="Guardar"></button>
                <button *ngIf="!isNew" type="button" class="eliminar" pButton icon="ui-icon-delete" (click)="delete()"
                        label="Eliminar"></button>
            </div>
        </footer>

    </p-dialog>
</div>
