::-webkit-input-placeholder {
    color: white;
}
.grilla::-webkit-input-placeholder {
    color: black;
}
.reset{
    background-color: #243fce !important;
    color: white !important;;
}
.reset:hover{
    background-color: #243fce !important;
    color: white !important;;
}
.eliminar {
    background-color: #ce0707 !important;
    color: white !important;;
}
.guardar{
    background-color: #00ce21 !important;;
    color: white !important;
}
.eliminar:hover {
    background-color: #8a0707 !important;
    color: white !important;;
}
.guardar:hover{
    background-color: #009b1e !important;
    color: white !important;
}

.no{
    background-color: #ce0707 !important;
    color: white !important;;
}
.yes{
    background-color: #00ce21 !important;
    color: white !important;
}
.no:hover {
    background-color: #8a0707 !important;
    color: white !important;;
}
.yes:hover{
    background-color: #009b1e !important;
    color: white !important;
}

.saga-filtro{
    margin-left: -2%;
}

