<div class="ContentSideSections">
    <p-growl [value]="msgs" life=3000></p-growl>

</div>
<div class="ContentSideSections Implementation">
    <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
        <button type="button" class="guardar" pButton pTooltip="Descargar" tooltipPosition="bottom" icon="ui-icon-file-download"
                label="PDF" (click)="dt.exportCSV()" style="float:left"></button>
    </div>
    <header style="background-color: #808080; padding: 10px;"><h2 style="text-align: center; color: white">Presentismo</h2>
        <div class="ui-grid-row" style="text-align: center; color: white">
            <div class="ui-grid-col-4 saga-filtro"><label for="periodoFiltro">Periodo</label></div>
            <div class="ui-grid-col-5"><label for="comisionFiltro">Comision</label></div>
            <div class="ui-grid-col-3"><label>Tolerancia llegada tarde: {{toleranciaActual}} (min)</label>
            </div>
        </div>
        <div class="ui-grid-row" style="background-color: #808080; text-align: center; color: white">
            <div class="ui-grid-col-4">
                <p-dropdown class="ui-grid-col-11" id="periodoFiltro" (onChange)="filterPeriodo()"
                            [options]="periodos"
                            [(ngModel)]="periodo"
                            [filter]="true" [style]="{width : '100%' }">
                </p-dropdown>
            </div>
            <div class="ui-grid-col-5">
                <p-dropdown class="ui-grid-col-11" id="comisionFiltro" (onChange)="filtrarComision()"
                            [options]="comisiones"
                            [(ngModel)]="comision"
                            [filter]="true" [style]="{width : '100%' }">
                </p-dropdown>
            </div>
            <div class="ui-grid-col-3" style="margin-top: 20px;">
                <p-slider class="ui-grid-col-11" [(ngModel)]="toleranciaActual" [min]="5" [max]="60" [step]="5"
                          (onChange)="updateTolerancia()"></p-slider>
            </div>
        </div>
    </header>
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            <div class="card">
                <h1 class="centerText">Datos</h1>
                <p-dataTable *ngIf="comision" #dt [value]="clases | async" selectionMode="single"
                             [responsive]="true"  exportFilename="presentismo">
                    <p-column field="aula.nombre" header="Aula" sortable="custom" (sortFunction)="sort($event)"></p-column>
                    <p-column field="fecha" header="Fecha" sortable="custom" (sortFunction)="sort($event)"></p-column>
                    <p-column field="hora_inicio" header="Hora Inicio" sortable="custom" (sortFunction)="sort($event)"></p-column>
                    <p-column field="hora_llegada" header="Hora Llegada" sortable="custom" (sortFunction)="sort($event)"></p-column>
                    <p-column field="comentario" header="Comentario" sortable="custom" (sortFunction)="sort($event)"></p-column>
                </p-dataTable>
            </div>
        </div>
        <div class="ui-grid-col-6">
                <div class="card" style="margin-left: 2%;">
                    <h1 class="centerText">Grafico</h1>
                    <p-chart #grafico type="pie" [data]="data"></p-chart>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script type="text/javascript">
    function pdf()
    {
        var pdf = new jsPDF();
        pdf.text(30, 30, 'Hello world!');
        pdf.save('hello_world.pdf');
    }
</script>
<script src="app/resources/demo/js/jspdf.js"></script>
<script src="app/resources/demo/js/main.js"></script>