<div class="layout-wrapper layout-compact">

     <div [ngClass]="{'layout-container':true,'menu-layout-static':(layoutMode=='static'||layoutMode=='horizontal'),
            'menu-layout-overlay':(layoutMode=='overlay'),'menu-layout-horizontal':(layoutMode=='horizontal')}">
    <!-- Top Bar -->
	<div *ngIf="mostrar()" >

    <div  class="topbar clearfix">
        <div class="topbar-left">
            <a [routerLink]="['/']" class="logo"></a>
        </div>

        <div class="topbar-right">
             <a id="menu-button" href="#">
                    <i></i>
             </a>

            <a href="#" id="topbar-menu-button" >
                <i class="material-icons">menu</i>
            </a>
            <ul class="topbar-items fadeInDown animated topbar-items-visible" >
                 <li class="profile-item" >
                     <button  type="button"  pButton  label="Salir" icon="fa ui-icon-exit-to-app" (click)="logout()"></button>
                 </li>
            </ul>
        </div>

    </div>

    <!-- Menu -->
        <div  class="layout-menu">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                   <ul class="ultima-menu clearfix" id="main-menu">
                        <li role="menuitem"><a href="#/periodos"><i class="material-icons">Periodos</i><span>Periodos</span></a></li>
                        <li role="menuitem"><a href="#/usuarios"><i class="material-icons">Usuarios</i><span>Usuarios</span></a></li>
                        <li role="menuitem"><a href="#/grupos"><i class="material-icons">Roles</i><span>Roles</span></a></li>
                        <li role="menuitem"><a href="#/carreras"><i class="material-icons">Carreras</i><span>Carreras</span></a></li>
                        <li role="menuitem"><a href="#/asignaturas"><i class="material-icons">Asignaturas</i><span>Asignaturas</span></a></li>
                        <li role="menuitem"><a href="#/aulas"><i class="material-icons">Aulas</i><span>Aulas</span></a></li>
                        <li role="menuitem"><a href="#/clases"><i class="material-icons">Clases</i><span>Clases</span></a></li>
                        <li role="menuitem"><a href="#/edificios"><i class="material-icons">Edificios</i><span>Edificios</span></a></li>
                        <li role="menuitem"><a href="#/sedes"><i class="material-icons">Sedes</i><span>Sedes</span></a></li>
                        <li role="menuitem"><a href="#/comision"><i class="material-icons">Comision</i><span>Comision</span></a></li>
                        <li role="menuitem"><a href="#/docentes"><i class="material-icons">Docentes</i><span>Docentes</span></a></li>
                        <li role="menuitem"><a href="#/eventos"><i class="material-icons">Eventos</i><span>Eventos</span></a></li>
                        <li role="menuitem"><a href="#/horarios"><i class="material-icons">Horarios</i><span>Horarios</span></a></li>
                        <li role="menuitem"><a href="#/localidades"><i class="material-icons">Localidad</i><span>Localidad</span></a></li>
                    </ul>
                </div>
			</div>
        </div>
    </div>

    <div [ngClass]="displayLayout">
        <router-outlet></router-outlet>

        <div *ngIf="mostrar()" class="footer" >
            <div class="card clearfix">
                <span class="footer-text-left">SAGA</span>
                <span class="footer-text-right"><span class="ui-icon ui-icon-copyright"></span>  <span>Todos los derechos reservados</span></span>
            </div>
        </div>
    </div>
</div>
</div>
