<div class="ContentSideSections">
    <p-confirmDialog width="425" #cd>
        <footer>
            <button type="button" pButton class="no" icon="fa fa-close" label="No" (click)="cd.reject()"></button>
            <button type="button" pButton class="yes" icon="fa fa-check" label="Si" (click)="cd.accept()"></button>
        </footer>
    </p-confirmDialog>
</div>
<div class="ContentSideSections Implementation">
    <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
        <button *ngIf="filtersEnabled" type="button" class="guardar" pButton pTooltip="Filtros" tooltipPosition="bottom"
                icon="ui-icon-filter-list" (click)="toggleFilter()" style="float: left"></button>
        <input #gb type="text" pInputText size="50" style="float:right; color: white; max-width: 300px"
               placeholder="Buscar" (keyup)="search(gb.value)">
    </div>
    <p-dataTable [value]="store.items | async" selectionMode="single"
                 (onRowSelect)="onRowSelect($event)" [responsive]="true">
        <header><h2>Horarios</h2>
            <div class="ui-grid-row" *ngIf="filtersEnabled && isFilter">
                    <div class="ui-grid-col-3 saga-filtro"><label for="diaFiltro">Dia</label></div>
                    <div class="ui-grid-col-3"><label for="aulaFiltro">Aula</label></div>
                    <div class="ui-grid-col-3"><label for="periodoFiltro">Periodo</label></div>
                    <div class="ui-grid-col-3"><label for="comisionFiltro">Comision</label></div>

                    <div class="ui-grid-col-3">
                        <p-dropdown class="ui-grid-col-11"  id="diaFiltro" [options]="diasFilter"
                                    [(ngModel)]="diaFilter"
                                    (onChange)="filter('dia', $event.value)"
                                    [filter]="true" [style]="{width : '100%' }">
                        </p-dropdown>
                    </div>
                    <div class="ui-grid-col-3">
                        <p-dropdown class="ui-grid-col-11"  id="aulaFiltro" [options]="aulasFilter"
                                    [(ngModel)]="aulaFilter"
                                    (onChange)="filter('aula.id', $event.value)"
                                    [filter]="true" [style]="{width : '100%' }">
                        </p-dropdown>
                    </div>
                    <div class="ui-grid-col-3">
                        <p-dropdown class="ui-grid-col-11" id="periodoFiltro" [options]="periodosFilter"
                                    (onChange)="filterPeriodo($event.value)"
                                    [filter]="true" [style]="{width : '100%' }">
                        </p-dropdown>
                    </div>
                    <div class="ui-grid-col-3">
                        <p-dropdown class="ui-grid-col-11" id="comisionFiltro" [options]="comisionesFilter"
                                    (onChange)="filter('comision.id', $event.value)"
                                    [filter]="true" [style]="{width : '100%' }">
                        </p-dropdown>
                    </div>
            </div>
        </header>
        <p-column field="dia" header="Dia" sortable="custom" (sortFunction)="sort($event)">
            <template let-h="rowData" pTemplate type="body">
                <span>{{es.dayNames[h.dia]}}</span>
            </template>
        </p-column>
        <p-column field="hora_inicio" header="Hora Inicio" sortable="custom" (sortFunction)="sort($event)"></p-column>
        <p-column field="duracion" header="Duracion" sortable="custom" (sortFunction)="sort($event)"></p-column>
        <p-column field="aula.nombre" header="Aula " sortable="custom" (sortFunction)="sort($event)"></p-column>
        <p-column field="aula.edificio.nombre" header="Edificio" sortable="custom" (sortFunction)="sort($event)"></p-column>
        <p-column field="comision.periodo.descripcion" header="Periodo" sortable="custom" (sortFunction)="sort($event)"></p-column>
        <p-column field="comision.asignatura.nombre" header="Comision" sortable="custom" (sortFunction)="sort($event)"></p-column>

        <footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()"
                        label="Agregar"></button>
            </div>
        </footer>
    </p-dataTable>
    <p-paginator
            styleClass="ui-paginator-bottom"
            rows="10"
            totalRecords="{{store.service.totalRows | async}}"
            [rowsPerPageOptions]="[5,10,20]"
            (onPageChange)="pageChange($event)">
    </p-paginator>


    <p-dialog header="Horario" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="entity">
            <div class="ui-grid-row">
                <p-messages [value]="validaciones"></p-messages>
            </div>
            <div *ngIf=
                         "!comision" class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="comision">Comision*</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown  class="ui-grid-col-12" id="comision" [options]="comisiones" [(ngModel)]="entity.comision"
                                [filter]="true" [style]="{width : '100%' }">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label for="dia">Dia</label>
                </div>
                <div class="ui-grid-col-8">
                    <p-dropdown class="ui-grid-col-12" id="dia" [options]="dias" [(ngModel)]="entity.dia"
                                [style]="{width : '100%' }" required>
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="hora_inicio">Hora Inicio</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar id="hora_inicio" [(ngModel)]="hora_inicio" [timeOnly]="true" hourFormat="24" required></p-calendar>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="duracion">Hora Fin</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar id="duracion" [(ngModel)]="hora_fin" [timeOnly]="true" hourFormat="24" required></p-calendar>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="aula">Aula</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown class="ui-grid-col-12" id="aula" [options]="aulas" required
                                [(ngModel)]="entity.aula" [filter]="true" [style]="{width : '100%' }">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="descripcion">Descripcion</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText class="ui-grid-col-12" type="text" id="descripcion" [(ngModel)]="entity.descripcion"/>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="guardar" pButton icon="fa-check" (click)="save()" label="Guardar"></button>
                <button *ngIf="!isNew" type="button" class="eliminar" pButton icon="ui-icon-delete" (click)="delete()"
                        label="Eliminar"></button>
            </div>
        </footer>
    </p-dialog>
</div>