<div class="ContentSideSections">
    <p-growl [value]="msgs" life=3000></p-growl>
</div>
<div class="ui-g-12">
    <div class="card">
        <div class="ui-g-12 ui-grid-row">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <p-dropdown [options]="edificios" [(ngModel)]="edificioSelected" [style]="{width : '100%'}"
                            (onChange)="onChangeEdificio($event)">
                </p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-6"></div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <p-calendar [(ngModel)]="fechaCalendar" [locale]="es"
                            readonlyInput="readonlyInput" (onSelect)="schedule.gotoDate($event)">
                </p-calendar>
            </div>
        </div>
        <timeline-day-schedule
                #schedule
                [header]="scheduleHeader"
                [buttonText]="buttonText"
                [resources]="obsResources"
                [editable]="true"
                [height]="500"
                [defaultDate]="fechaCalendar"
                [scrollTime]="scrollTime"
                [hiddenDays]="[0]"
                [locale]="es"
                (onDayChanged)="getEvents($event)"
                (onEventClick)="onEventClick($event)"
                (onEventMouseover)="onEventMouseover($event)"
                (onEventMouseout)="onEventMouseout($event)"
                (onEventDragStart)="onEventDragStart($event)"
                (onEventDragStop)="onEventDragStop($event)"
                (onEventDrop)="onEventDrop($event)"
                (onEventResizeStart)="onEventResizeStart($event)"
                (onEventResizeStop)="onEventResizeStop($event)"
                (onEventResize)="onEventResize($event)">
        </timeline-day-schedule>
    </div>

    <!-- Dialgo de edicion de CLASES -->
    <p-dialog header="{{'Clase de ' + claseSelected.horario.comision.asignatura.nombre + ' del ' + claseSelected.fecha}}"
              [(visible)]="displayAulaDialog"
              [responsive]="true"
              showEffect="fade"
              [modal]="true"
              *ngIf="claseSelected"
              (onAfterHide)="schedule.refetchEvents()">

        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="clase-aula">Aula</label></div>
                <div class="ui-grid-col-8">
                    <!--<input pInputText id="aula" [(ngModel)]="eventSelected.aula.nombre"/>-->
                    <p-dropdown [options]="aulasOptions" [(ngModel)]="claseSelected.aula" [filter]="true"
                                id="clase-aula" class="ui-grid-col-12" [style]="{width : '100%' }">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="clase-fecha">Fecha</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar [(ngModel)]="fechaSelected" [locale]="es"  id="clase-fecha" readonlyInput="readonlyInput">
                    </p-calendar>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="clase-hora_inicio">Hora Inicio</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar [(ngModel)]="inicioSelected" [locale]="es" [timeOnly]="true" [hourFormat]="24"
                                id="clase-hora_inicio" readonlyInput="readonlyInput"></p-calendar>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="clase-hora_fin">Fecha Fin</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar [(ngModel)]="finSelected" [locale]="es" [timeOnly]="true" [hourFormat]="24"
                                id="clase-hora_fin" readonlyInput="readonlyInput"></p-calendar>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="guardar" pButton icon="fa-check" label="Guardar"
                        (click)="saveClase()" >
                </button>
                <button type="button" class="eliminar" pButton icon="ui-icon-cancel" label="Cancelar"
                        (click)="cancel()">
                </button>
            </div>
        </footer>
    </p-dialog>

    <!-- Dialgo de edicion de EVENTOS -->
    <p-dialog [header]="eventoSelected.title" [(visible)]="displayEventoDialog" [responsive]="true" showEffect="fade"
              [modal]="true" *ngIf="eventoSelected" (onAfterHide)="schedule.refetchEvents()">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">

            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="clase-aula">Aula</label></div>
                <div class="ui-grid-col-8">
                    <!--<input pInputText id="aula" [(ngModel)]="eventSelected.aula.nombre"/>-->
                    <p-dropdown id="evento-aula" [options]="aulasOptions" [(ngModel)]="eventoSelected.aula" [filter]="true"
                                class="ui-grid-col-12" [style]="{width : '100%' }">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="clase-fecha">Fecha</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar id="evento-fecha" [(ngModel)]="eventoSelected.fechaDate" [locale]="es"
                                readonlyInput="readonlyInput"></p-calendar>
                </div>
            </div>
            <!--
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="hora_inicio">Hora Inicio</label></div>
                <div class="ui-grid-col-8"><input type="time" id="hora_inicio" [(ngModel)]="eventSelected.start"/></div>
            </div>
            -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="clase-hora_inicio">Hora Inicio</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar id="evento-hora_inicio" [(ngModel)]="eventoSelected.hora_inicioDate" [locale]="es"
                                [hourFormat]="24" [timeOnly]="true" readonlyInput="readonlyInput"></p-calendar>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="clase-hora_fin">Fecha Fin</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar id="evento-hora_fin" [(ngModel)]="eventoSelected.fecha_finDate" [locale]="es"
                                [hourFormat]="24" [timeOnly]="true" readonlyInput="readonlyInput"></p-calendar>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="guardar" pButton icon="fa-check" label="Guardar"
                        (click)="saveEvento()" >
                </button>
                <button type="button" class="eliminar" pButton icon="ui-icon-cancel" label="Cancelar"
                        (click)="cancel()">
                </button>
            </div>
        </footer>
    </p-dialog>
</div>