<div class="ContentSideSections">
    <p-growl [value]="msgs" life=2000></p-growl>
</div>
<div class="ui-g-12">
    <div class="card">
        <div class="ui-g-12">
            <p-calendar [(ngModel)]="fechaCalendar" [locale]="es"
                        dateFormat="dd/mm/yy" readonlyInput="readonlyInput" (onSelect)="schedule.gotoDate($event)">
            </p-calendar>
            <p-dropdown [options]="edificios" [(ngModel)]="edificioSelected"></p-dropdown>
        </div>
        <div class="ui-g-12">
        </div>
        <timeline-day-schedule
                #schedule
                [header]="scheduleHeader"
                [resources]="obsResources"
                [editable]="true"
                [height]="500"
                [scrollTime]="scrollTime"
                [hiddenDays]="[0]"
                [locale]="arg"
                (onDayChanged)="getEvents($event)"
                (onEventClick)="onEventClick($event)"
                (onEventMouseover)="onEventMouseover($event)"
                (onEventMouseout)="onEventMouseout($event)"
                (onEventDragStart)="onEventDragStart($event)"
                (onEventDragStop)="onEventDragStop($event)"
                (onEventDrop)="onEventDrop($event)"
                (onEventResizeStart)="onEventResizeStart($event)"
                (onEventResizeStop)="onEventResizeStop($event)"
                (onEventResize)="onEventResize($event)"
        >
        </timeline-day-schedule>
    </div>


    <p-dialog [header]="eventSelected.title" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
              [modal]="true"  *ngIf="eventSelected" (onAfterHide)="cancel()">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="aula">Aula</label></div>
                <div class="ui-grid-col-8"><input pInputText id="aula" [(ngModel)]="eventSelected.aula.nombre"/></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="fecha">Fecha</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar id="fecha" [(ngModel)]="eventSelected.start._d" [locale]="es"
                                readonlyInput="readonlyInput"></p-calendar>
                </div>
            </div>
            <!--
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="hora_inicio">Hora Inicio</label></div>
                <div class="ui-grid-col-8"><input type="time" id="hora_inicio" [(ngModel)]="eventSelected.start"/></div>
            </div>
            -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="hora_inicio">Hora Inicio</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar id="hora_inicio" [(ngModel)]="eventSelected.start._d" [locale]="es"
                                [timeOnly]="true" readonlyInput="readonlyInput"></p-calendar>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="hora_fin">Fecha Fin</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar id="hora_fin" [(ngModel)]="eventSelected.end._d" [locale]="es"
                                [timeOnly]="true" readonlyInput="readonlyInput"></p-calendar>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="guardar" pButton icon="fa-check" (click)="save()" label="Guardar"></button>
                <button type="button" class="eliminar" pButton icon="ui-icon-cancel" (click)="displayDialog=false"
                        label="Cancelar"></button>
            </div>
        </footer>
    </p-dialog>
</div>