<div class="ContentSideSections">
    <p-growl [value]="msgs" life=2000></p-growl>
</div>
<div class="ui-g-12">
    <div class="card">
        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <p-dropdown [options]="edificios" [(ngModel)]="edificioSelected" [style]="{width : '100%'}"
                            (onChange)="onChangeEdificio($event)">
                </p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-6"></div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <p-calendar [(ngModel)]="fechaCalendar" [locale]="es"
                            readonlyInput="readonlyInput" (onSelect)="schedule.gotoDate($event)">
                </p-calendar>
            </div>
        </div>
        <timeline-day-schedule
                #schedule
                [header]="scheduleHeader"
                [resources]="obsResources"
                [editable]="true"
                [height]="500"
                [scrollTime]="scrollTime"
                [hiddenDays]="[0]"
                locale="es"
                (onDayChanged)="getEvents($event)"
                (onEventClick)="onEventClick($event)"
                (onEventMouseover)="onEventMouseover($event)"
                (onEventMouseout)="onEventMouseout($event)"
                (onEventDragStart)="onEventDragStart($event)"
                (onEventDragStop)="onEventDragStop($event)"
                (onEventDrop)="onEventDrop($event)"
                (onEventResizeStart)="onEventResizeStart($event)"
                (onEventResizeStop)="onEventResizeStop($event)"
                (onEventResize)="onEventResize($event)">
        </timeline-day-schedule>
    </div>


    <p-dialog [header]="eventSelected.title" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
              [modal]="true" *ngIf="eventSelected" (onAfterHide)="schedule.refetchEvents()">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="aula">Aula</label></div>
                <div class="ui-grid-col-8">
                    <!--<input pInputText id="aula" [(ngModel)]="eventSelected.aula.nombre"/>-->
                    <p-dropdown id="aula" [options]="aulasOptions" [(ngModel)]="aulaSelected" [filter]="true"
                                class="ui-grid-col-12"  [style]="{width : '100%' }">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="fecha">Fecha</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar id="fecha" [(ngModel)]="eventSelected.start._d" [locale]="es"
                                readonlyInput="readonlyInput"></p-calendar>
                </div>
            </div>
            <!--
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="hora_inicio">Hora Inicio</label></div>
                <div class="ui-grid-col-8"><input type="time" id="hora_inicio" [(ngModel)]="eventSelected.start"/></div>
            </div>
            -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="hora_inicio">Hora Inicio</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar id="hora_inicio" [(ngModel)]="eventSelected.start._d" [locale]="es"
                                [timeOnly]="true" readonlyInput="readonlyInput"></p-calendar>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="hora_fin">Fecha Fin</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar id="hora_fin" [(ngModel)]="eventSelected.end._d" [locale]="es"
                                [timeOnly]="true" readonlyInput="readonlyInput"></p-calendar>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="guardar" pButton icon="fa-check" label="Guardar"
                        (click)="save()" >
                </button>
                <button type="button" class="eliminar" pButton icon="ui-icon-cancel" label="Cancelar"
                        (click)="cancel()">
                </button>
            </div>
        </footer>
    </p-dialog>
</div>