$primaryColor: #cc1b00;
$primaryDarkColor: #b71b00;
$primaryLightColor: #e74c2e;
$accentColor: #FFC107;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFE082;
$accentTextColor: white;

@import '../sass/theme/_theme';