$primaryColor: #444444;
$primaryDarkColor: #2f1717;
$primaryLightColor: #767676;
$accentColor: #aa7c56;
$accentDarkColor: #5a0011;
$accentLightColor: #f48fb1;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';