$primaryColor: #808080;
$primaryDarkColor: #4e4e4e;
$primaryLightColor: #b3b3b3;
$accentColor: #4040ff;
$accentDarkColor: #404080;
$accentLightColor: #bfbfff;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';