$primaryColor: #3F51B5;
$primaryDarkColor: #000b4d;
$primaryLightColor: #8093ff;
$accentColor: #6b7499;
$accentDarkColor: #242733;
$accentLightColor: #b3bdff;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';