<div class="layout-wrapper layout-compact">

    <div [ngClass]="displayText" class="layout-container menu-layout-static ">
    <!-- Top Bar -->
    <div class="topbar clearfix">
        <div class="topbar-left">
            <div class="logo"></div>
        </div>

        <div class="topbar-right">
            <a id="menu-button"  (click)="toggle()">
                <i></i>
            </a>

            <a id="topbar-menu-button" >
                <i class="material-icons">menu</i>
            </a>
          </div>
    </div>

    <!-- Menu -->
        <div class="layout-menu">
            <div class="nano has-scrollbar">
                <div class="nano-content menu-scroll-content" tabindex="0" style="margin-right: -17px;">
                    <div class="profile">
                        <div class="profile-image"></div>
                        <a href="#" id="profile-options">
                            <span class="profile-name">Jane Williams</span>
                            <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                    </div>

                    <ul class="ultima-menu" id="profile-menu">
                        <li role="menuitem">
                            <a class="ripplelink" href="#">
                                <i class="material-icons">person</i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="ripplelink" href="#">
                                <i class="material-icons">security</i>
                                <span>Privacy</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="ripplelink" href="#">
                                <i class="material-icons">settings_application</i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a class="ripplelink" href="#">
                                <i class="material-icons">power_settings_new</i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="ultima-menu clearfix" id="main-menu">
                        <li role="menuitem"><a href="/periodos"><i class="material-icons">Periodos</i><span>Periodos</span></a></li>
                        <li role="menuitem"><a href="/usuarios"><i class="material-icons">Usuarios</i><span>Usuarios</span></a></li>
                        <li role="menuitem"><a href="/grupos"><i class="material-icons">Roles</i><span>Roles</span></a></li>
                        <li role="menuitem"><a href="/carreras"><i class="material-icons">Carreras</i><span>Carreras</span></a></li>
                        <li role="menuitem"><a href="/asignaturas"><i class="material-icons">Asignaturas</i><span>Asignaturas</span></a></li>
                        <li role="menuitem"><a href="/aulas"><i class="material-icons">Aulas</i><span>Aulas</span></a></li>
                        <li role="menuitem"><a href="/clases"><i class="material-icons">Clases</i><span>Clases</span></a></li>
                        <li role="menuitem"><a href="/edificios"><i class="material-icons">Edificios</i><span>Edificios</span></a></li>
                        <li role="menuitem"><a href="/sedes"><i class="material-icons">Sedes</i><span>Sedes</span></a></li>
                        <li role="menuitem"><a href="/comision"><i class="material-icons">Comision</i><span>Comision</span></a></li>
                        <li role="menuitem"><a href="/docentes"><i class="material-icons">Docentes</i><span>Docentes</span></a></li>
                        <li role="menuitem"><a href="/eventos"><i class="material-icons">Eventos</i><span>Eventos</span></a></li>
                        <li role="menuitem"><a href="/horarios"><i class="material-icons">Horarios</i><span>Horarios</span></a></li>
                        <li role="menuitem"><a href="/localidades"><i class="material-icons">Localidad</i><span>Localidad</span></a></li>
                    </ul>
                </div>
                <div class="nano-pane" style="display: block;"><div class="nano-slider" style="height: 206px; transform: translate(0px, 0px);"></div></div></div>
        </div>

    <div class="layout-main">
        <router-outlet></router-outlet>

        <div class="footer" >
            <div class="card clearfix">
                <span class="footer-text-left">SAGA</span>
                <span class="footer-text-right"><span class="ui-icon ui-icon-copyright"></span>  <span>Todos los derechos reservados</span></span>
            </div>
        </div>
    </div>
</div>
</div>