<script src="periodo.component.ts"></script>
<div class="ContentSideSections">

</div>
<div class="ContentSideSections Implementation">
    <div class="ui-widget-header ui-helper-clearfix " style="padding:4px 10px;border-bottom: 0 none">
        <input #gb type="text" pInputText class="ui-grid-col-3" size="50" style="float:left; color:white;" placeholder="Buscar">
    </div>
    <p-dataTable [value]="periodos" selectionMode="single" [globalFilter]="gb" [(selection)]="selectedPeriodo" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [responsive]="true">
        <header>Periodos</header>
        <p-column field="descripcion" header="Descripciòn" [sortable]="true"></p-column>
        <p-column field="fecha_inicio" header="Fecha Inicio" [sortable]="true"></p-column>
        <p-column field="fecha_fin" header="Fecha Fin" [sortable]="true"></p-column>
        <footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Agregar"></button></div></footer>
    </p-dataTable>

    <p-dialog header="Periodo" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="periodo">
           <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="descripcion">Descripción</label></div>
                <div class="ui-grid-col-8"><input pInputText id="descripcion" [(ngModel)]="periodo.descripcion" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="fecha_inicio">Fecha Inicio</label></div>
                <div class="ui-grid-col-8">
                    <input type="date" id="fecha_inicio" [(ngModel)]="periodo.fecha_inicio">
               </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="fecha_fin">Fecha Fin</label></div>
                <div class="ui-grid-col-8"><input type="date" id="fecha_fin" [(ngModel)]="periodo.fecha_fin"> </div>
            </div>
            
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="guardar" pButton icon="fa-check" (click)="save()" label="Guardar"></button>
                <button type="button" class="eliminar" pButton icon="ui-icon-delete" (click)="delete()" label="Eliminar"></button>
            </div>
        </footer>
    </p-dialog>
</div>
