<div class="layout-wrapper layout-compact">

    <div [ngClass]="{'layout-container':true,'menu-layout-static':(layoutMode=='static'||layoutMode=='horizontal'),
            'menu-layout-overlay':(layoutMode=='overlay'),'menu-layout-horizontal':(layoutMode=='horizontal')}">
        <!-- Top Bar -->
        <div>
             <perfil [usuario]="usuario" [displayDialog]="display_perfil">  </perfil> -->

            <div class="topbar clearfix">
                <div class="topbar-left">
                    <a [routerLink]="['/']" id="logo"></a>
                </div>

                <div class="topbar-right">
                    <a id="menu-button">
                        <i></i>
                    </a>

                    <ul class="topbar-items fadeInDown animated">
                        <li>
                            <a *ngIf="!isInvitado" (click)="logout()" href="#" class="ripplelink">
                                <i style="color: white; font-size: 40px;" class="material-icons">power_settings_new</i>
                            </a>
                        </li>
                        <li>
                            <a (click)="login()" class="ripplelink">
                                <i style=" color: white; font-size: 40px;" class="material-icons">account_box</i>
                            </a>
                        </li>
                        <li>
                            <a (click)="showPerfilDialog()" class="ripplelink">
                                <i style=" color: white; font-size: 40px;" class="material-icons">settings</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Menu -->
            <div class="layout-menu">
                <div class="nano">
                    <div class="nano-content menu-scroll-content">
                        <div class="profile" >
                            <i class="fa ui-icon-person"></i>
                            <span class="profile-name">{{ usuario }}</span>
                        </div>
                        <ul class="ultima-menu clearfix" id="main-menu">
                            <li role="menuitem"><a [routerLink]="['presentismo']"><span>Presentismo</span></a></li>
                            <li role="menuitem"><a [routerLink]="['localidades']"><span>Localidad</span></a></li>
                            <li role="menuitem"><a [routerLink]="['sedes']"><span>Sedes</span></a></li>
                            <li role="menuitem"><a [routerLink]="['edificios']"><span>Edificios</span></a></li>
                            <li role="menuitem"><a [routerLink]="['carreras']"><span>Carreras</span></a></li>
                            <li role="menuitem"><a [routerLink]="['asignatura-carrera']"><span>Planes de Estudio</span></a></li>
                            <li role="menuitem"><a [routerLink]="['asignaturas']"><span>Asignaturas</span></a></li>
                            <li role="menuitem"><a [routerLink]="['aulas']"><span>Aulas</span></a></li>
                            <li role="menuitem"><a [routerLink]="['clases']"><span>Clases</span></a></li>
                            <li role="menuitem"><a [routerLink]="['eventos']"><span>Eventos</span></a></li>
                            <li role="menuitem"><a [routerLink]="['periodos']"><span>Periodos</span></a></li>
                            <li role="menuitem"><a [routerLink]="['comision']"><span>Comision</span></a></li>
                            <li role="menuitem"><a [routerLink]="['horarios']"><span>Horarios</span></a></li>
                            <li role="menuitem"><a [routerLink]="['docentes']"><span>Docentes</span></a></li>
                            <li role="menuitem"><a [routerLink]="['usuarios']"><span>Usuario</span></a></li>
                            <li role="menuitem"><a [routerLink]="['accion-rol']"><span>Permisos</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div [ngClass]="{'layout-main': true}">

            <router-outlet></router-outlet>

            <div class="footer">
                <div class="card clearfix">
                    <span class="footer-text-left">SAGA</span>
                    <span class="footer-text-right"><span class="ui-icon ui-icon-copyright"></span>  <span>Todos los derechos reservados</span></span>
                </div>
            </div>
        </div>
    </div>
</div>