
<div class="layout-wrapper layout-compact">
    <div class="ContentSideSections">
        <p-growl [value]="msgs" life=9000></p-growl>
    </div>
    <div [ngClass]="{'layout-container':true,'menu-layout-static':(layoutMode=='static'||layoutMode=='horizontal'),
            'menu-layout-overlay':(layoutMode=='overlay'),'menu-layout-horizontal':(layoutMode=='horizontal')}">
        <!-- Top Bar -->
        <div>
            <perfil [usuario]="usuario" [displayDialog]="display_perfil"></perfil>
            <div class="topbar clearfix">
                <div class="topbar-left">
                    <a [routerLink]="['/']" id="logo"></a>
                </div>
                <div class="topbar-right">
                    <a id="menu-button">
                        <i></i>
                    </a>
                    <a id="topbar-menu-button"  (click)="topbar()">
                        <i class="material-icons" style="    cursor: pointer;"></i>
                    </a>
                    <ul class="topbar-items fadeInDown animated" [ngClass]="{'topbar-items-visible':topBarItemChange}">
                        <li>
                            <a *ngIf="!isInvitado" (click)="logout()" href="#" class="ripplelink" style="cursor: pointer;">
                                <i [ngStyle]="{'color':color}" style="font-size: 40px; " class="material-icons">power_settings_new</i>
                                <span class="topbar-item-name">Salir</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="login()" class="ripplelink" style="cursor: pointer;">
                                <i [ngStyle]="{'color':color}" style="font-size: 40px;" class="material-icons">account_box</i>
                                <span class="topbar-item-name">Login</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="showPerfilDialog()" class="ripplelink" style="cursor: pointer;">
                                <i [ngStyle]="{'color':color}" style="font-size: 40px;" class="material-icons">settings</i>
                                <span class="topbar-item-name">Perfil</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Menu -->
            <div class="layout-menu">
                <div class="nano">
                    <div class="nano-content menu-scroll-content">
                        <div class="profile">
                            <i class="fa ui-icon-person"></i>
                            <span class="profile-name" style="margin-top: 3%;">{{ usuario }}</span>
                        </div>
                        <ul class="ultima-menu clearfix" id="main-menu" style="margin-top: 15%;">
                            <li role="menuitem" *ngFor="let item of menuItems">
                                <a [routerLink]="[item.path]"><span>{{item.recurso}}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div [ngClass]="{'layout-main': true}">
            <router-outlet *ngIf="!usuario.isAdmin()"></router-outlet>
            <div class="footer">
                <div class="card clearfix">
                    <span class="footer-text-left">SAGA</span>
                    <span class="footer-text-right"><span class="ui-icon ui-icon-copyright"></span>  <span>Todos los derechos reservados</span></span>
                </div>
            </div>
        </div>
    </div>
</div>